ASPNETCORE_ENVIRONMENT=Development

APP_PORT=8080

POSTGRES_DB=gsevent
POSTGRES_USER=gsevent_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

PGADMIN_EMAIL=admin@gsevent.local
PGADMIN_PASSWORD=change_me
PGADMIN_PORT=5050

RABBITMQ_USER=gsevent
RABBITMQ_PASSWORD=change_me
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672

SMTP_HOST=mailpit
SMTP_PORT=1025
SMTP_USERNAME=
SMTP_PASSWORD=
MAILPIT_PORT=8025

JWT_SECRET=change_me
JWT_ISSUER=GSEvent
JWT_AUDIENCE=GSEventClient
JWT_EXPIRATION_MINUTES=60
JWT_REFRESH_TOKEN_EXPIRATION_DAYS=7

RABBITMQ_EMAIL_QUEUE=gsevent.email